APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


############### Admin Settings ###############

ADMIN_USERNAME=admin
ADMIN_NAME='Admin Account'
ADMIN_EMAIL='admin@gmail.com'
ADMIN_PASSWORD='12345678'

############### End: Admin Settings ###############


############### Canvas Blog Settings ###############

# URI path where Canvas will be accessible from
CANVAS_PATH_NAME='canvas'

# the storage disk Canvas will use to put file uploads, you can use any of the disks defined in your config/filesystems.php file.
CANVAS_STORAGE_DISK='local'
CANVAS_STORAGE_PATH='public/canvas'

# enables Canvas to send notifications via e-mail. A weekly summary digest will be delivered via the default mail driver. This will provide helpful insights into your content and its impact.
CANVAS_MAIL_ENABLED=false

############### End: Canvas Blog Settings ###############
